<div class="row justify-content-center mt-5">
    <div class="col-md-12 ">
        <h1 class="text-center">Игорьки</h1>
        <table class="table   table-bordered ">
            <tr>
                <th>#</th>
                <th>Ник</th>
                <th>Почта</th>
                <th>Дата регистрации</th>
                <th>Статус</th>
            </tr>
            {{#each rows}}
                <tr>
                    <td>{{this.id}}</td>
                    <td>{{this.nick}}</td>
                    <td>{{this.email}}</td>
                    <td>{{prettifyDate this.created_at}}</td>
                    <td>{{this.status}}</td>
                </tr>
            {{/each}}
        </table>

    </div>
</div>
